<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Listar Pessoas</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>

<body>

<div class="container">

    <div th:if="${message != null}"
         class="alert alert-success alert-dismissible">
        [[${message}]]
        <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>

    <h3>Lista de Pessoas</h3>

    <hr/>
    <a th:href="@{/addPessoaForm}" class="btn btn-primary">Add Pessoa</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="pessoaTable">

        <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Nascimento</th>
            <th>E-mail</th>
            <th>Update - Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pessoa: ${pessoas}">
            <td th:text="${pessoa.nome}"></td>
            <td th:text="${pessoa.cpf}"></td>
            <td th:text="${pessoa.dataNascimento}"></td>
            <td th:text="${pessoa.email}"></td>
            <td>
                <a th:href="@{/showUpdateForm(id=${pessoa.id})}" class="btn btn-info">Update</a>

                <a th:href="@{/deletePessoa(id=${pessoa.id})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#pessoaTable").DataTable({
                'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>
</body>

</html>